.container-footer {
    background-color: #F1EEE7;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 240px;
    margin-top: auto;
}


.three-col{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
gap: 8rem;
}
.text-black {
font-family: 'Oxygen';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 1.2px;
color: #3A474A;
}
.text-gray{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1.2px;
    color: #758E93;
}
.col1{
    display: flex;
    flex-direction: column;
    text-align: left;

}
.col2{
    display: flex;
    flex-direction: column;
    text-align: left;
  
}
.col3{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}
.rrss{
    text-align: center;
}

@media screen and (width:360px) {

    .container-footer{
        height: 438px;
        
    }
    .three-col{
        flex-direction: column;
        gap: 0.1rem;
    }

    .text-black{
        font-size: 10px;
    }

    .text-gray{
        font-size: 10px;
    }

    .rr-ss{
        text-align: center;
    }
}