
.week-day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1rem;
    color: #ffffff;
}

.week-day img {
    align-self: center;
}

@media screen and (width:360px) {
 
.week-day{

    font-size: 10px;
    margin-right: 5rem;
    margin-left: 0.5rem;
    text-align: center;
}
}